/*-- header --*/
html,body {
	font-family: 'Lora', serif;
	background:#FFF;
	font-size:100%;
}
/*-- header --*/
.header-bg{
	background: url(../images/1.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 700px;
	position:relative;
}
.header-layer{
	background: rgba(0, 0, 0, 0.64);
	min-height: 700px;
}
.header-top {
	padding-top: 2em;
}
.head-logo{
	float:left;
}
.top-nav{
	float:right;
}
.right_bt span {
	width: 38px;
	height: 26px;
	text-align: right;
	display: inline-block;
	background: url(../images/menu.png) no-repeat 0px 0px;
}
.divice12{
	display:none;
}
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
 }
.box_content_center{
	background: rgba(250, 105, 78, 0.89);
	min-height: 700px;
}
.nav-icon {
	padding-top: 2em;
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 2.5em;
	right: 14.5em;
 }
.menu_box_list{
	display: inline-block;
	padding: 12.4em 0;
}
.menu_box_list ul {
	margin: 0;
	padding: 0;
}
.menu_box_list ul li {
	display:block;
	margin: 2em 0;
}
.menu_box_list li a{
	color: #FFF;
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	display: block;
	text-decoration:none;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
}
.menu_box_list li a:hover{
	color:#000;
	text-decoration: none;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
placeholder{
	color:#222;
}
.boxclose span{
	width:58px;
	height:73px;
	display:inline-block;
	background: url(../images/into.png) no-repeat -0px -46px;
}
.boxclose span:hover{
	background: url(../images/into.png) no-repeat -0px 14px;
}
ul.button {
	padding: 2em;
	width: 100%;
	margin: 0 auto;
}
ul.button li{
	margin-left: 8px;
	list-style: none;
	display: inline-block;
}
ul.button li a{
	color: #666;
	padding: 0.8em 2em;
	border: 2px solid #fff;
	text-decoration: none;
	font-weight:600;
	font-size: 1.3em;
}
.active,
ul.button li a:hover{
	background:#fff;
	color:#666;
}
.head-info {
	position: absolute;
	top: 35%;
	left: 30%;
	width: 42%;
	text-align: center;
}
.head-info h1{
	color:#FFF;
	font-size: 84px;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
.head-info p{
	color: #FFF;
	font-size: 22px;
	margin: 2em 0 3em 0;
}
.botton a{
	padding: .8em 3em;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	background: #FA694E;
	color: #FFF;
	border:solid 1px #FA694E;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius:5px;
}
.botton a:hover{
	color:#FA694E;
	background:none;
	text-decoration:none;
	border:solid 1px #FFF;
	transition:.5s all;
	-webkit-transition:.5s all;
	-ms-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
}
/*-- service --*/
.service{
	background:#FFF;
	padding: 4em 0;
}
.service-grid{
	text-align:center;
}
.service-grid h3{
	color: #333333;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin: 3em 0;
}
.service-grid p{
	font-size:16px;
	margin:0;
	color:#808080;
}
.creative{
	background:url(../images/icons.png) no-repeat 0px 0px;
	width:108px;
	height:108px;
	margin:0 auto;
}
.skills{
	background: url(../images/icons.png) no-repeat -109px 0px;
	width:108px;
	height:108px;
	margin:0 auto;
}